:root {
    --dashboard--color--base: #fff;
    --dashboard--color--contrast: #c3c4c7;
    --dashboard--color--primary: #00BC87;
    --dashboard--color--secondary: #6448e7;
}
.trevor-dashboard-wrapper a:focus {
    box-shadow: none;
    outline: none;
}
.trevor-dashboard-wrapper .trevor-button,
.trevor-notice .trevor-button {
    display: inline-flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    line-height: 1;
}
.trevor-dashboard-wrapper .trevor-button-primary,
.trevor-notice .trevor-button-primary {
    color: var(--dashboard--color--base);
    border-color: var(--dashboard--color--primary);
    background-color: var(--dashboard--color--primary);
}
.trevor-dashboard-wrapper .trevor-button-secondary,
.trevor-notice .trevor-button-secondary {
    color: var(--dashboard--color--base);
    border-color: var(--dashboard--color--secondary);
    background-color: var(--dashboard--color--secondary);
}
.trevor-theme-link {
    display: flex;
    align-items: center;
    text-decoration: none;
    gap: 8px;
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 16px;
}
.trevor-notice.notice {
    padding: 0 !important;
    border-left-width: 0;
    border: none;
}
.trevor-notice .trevor-welcome-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 0;
    padding-bottom: 0;
}
.trevor-notice-intro {
    background-color: #f3faf9;
    justify-content: left;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-flow: row;
    width: 100%;
}
.trevor-notice-intro .trevor-text-intro {
    flex: 0 0 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}
.trevor-welcome-description {
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 28px;
}
.trevor-notice-intro .trevor-showcase-intro {
    flex: 0 0 30%;
    display: flex;
    align-items: flex-end;
    margin-top: 30px;
}
.trevor-welcome-wrapper .trevor-welcome-title {
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    line-height: 36px;
    padding: 0;
    margin: 0 0 15px;
}
.trevor-welcome-wrapper .trevor-welcome-title .trevor-version {
    font-size: 12px;
}
.trevor-notice-message {
    display: grid;
    padding: 30px 60px;
    gap: 30px;
}
.trevor-welcome-wrapper .trevor-notice-message {
    grid-template-columns: repeat(4, 1fr);
}
@media (max-width: 1200px) {
    .trevor-notice-intro .trevor-text-intro,
    .trevor-welcome-wrapper .trevor-notice-message{
        padding:20px;
    }
    .trevor-welcome-wrapper .trevor-notice-message {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (max-width: 782px) {
    .trevor-welcome-wrapper .trevor-notice-message {
        grid-template-columns: 1fr;
    }
}
.trevor-notice-message .trevor-notice-item {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}
@media (max-width: 768px) {
    #trevor-welcome-notice .trevor-notice-message {
        flex-wrap: wrap
    }
}
.trevor-notice h2, .trevor-notice h3 {
    margin: 0 0 10px
}
.trevor-review-btn-grp a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    line-height: 36px;
    padding: 0 12px;
    color: #2271b1;
    border: 1px solid #2271b1;
    background: #f6f7f7;
    border-radius: 2px;
    margin-right: 8px;
    margin-top: 16px
}
.trevor-review-btn-grp a span {
    font-size: 20px;
    margin-right: 8px
}
.appearance_page_trevor-dashboard #wpwrap {
    background-color: #f8fafc
}
.appearance_page_trevor-dashboard #wpcontent {
    padding-left: 0
}
.appearance_page_trevor-dashboard #wpbody-content .notice {
    display: none !important
}
.trevor-dashboard-wrapper img {
    max-width: 100%;
    height: auto
}
.trevor-dashboard-header .header-nav-wrapper {
    background-color: #fff;
    border-bottom: 1px solid #e2e8f0;
    padding: 0 1.5rem;
    min-height: 4rem;
    display: flex;
    align-items: stretch
}
.trevor-dashboard-header .header-tabs-wrapper {
    display: flex;
    gap: 2rem
}
.trevor-dashboard-header .header-tabs-wrapper a {
    display: inline-flex;
    align-items: center;
    color: #046bd2;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 2px solid #046bd2;
    padding: 10px 0;
    text-decoration: none;
}
@media (max-width: 640px) {
    .trevor-dashboard-header .header-tabs-wrapper {
        flex-wrap: wrap;
        gap: 12px
    }
}
.trevor-dashboard-header .header-tabs-wrapper a:not(.active) {
    border-color: transparent;
    color: #475569
}
.trevor-dashboard-header .header-tabs-wrapper a:not(.active):hover {
    color: #1e293b;
    border-color: #cbd5e1
}
.trevor-dashboard-content,
.trevor-dashboard-footer {
    padding: 2rem
}
.trevor-dashboard-content .welcome-section-wrapper {
    background-color: #F9FAFE;
    border: 1px solid #C2CFF8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    margin-bottom: 2rem;
}
.trevor-dashboard-wrapper .intro__links {
    margin-top: 24px
}
.trevor-dashboard-content .welcome-body-wrapper, .trevor-dashboard-wrapper .trevor-dashboard-footer .content-wrapper {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    align-items: stretch;
}
.trevor-dashboard-wrapper .trevor-dashboard-area {
    display: grid;
    gap: 2rem;
    grid-template-columns: repeat(1, minmax(0, 1fr))
}
@media (min-width: 1024px) {
    .trevor-dashboard-content .welcome-body-wrapper, .trevor-dashboard-wrapper .trevor-dashboard-footer .content-wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
    .trevor-dashboard-wrapper .dashboard-panel-primary {
        grid-column: span 2/span 2
    }
}
.trevor-dashboard-wrapper .trevor-dashboard-panel {
    background-color: #fff;
}
.trevor-dashboard-wrapper .trevor-panel-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    border-bottom: 1px solid #f0f0f0;
}
.trevor-dashboard-wrapper .trevor-panel-content {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1.5rem;
}
.trevor-dashboard-content .trevor-dashboard-editor ul {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin: 0;
    width: 25%;
}
.trevor-dashboard-content .support-section-wrapper, .trevor-recommended-plugins {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    gap: 24px
}
.trevor-dashboard-content .dashicons-star-filled {
    color: #ff3f00
}
@media (min-width: 768px) {
    .trevor-dashboard-wrapper .trevor-dashboard-footer .content-wrapper {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
    .trevor-dashboard-wrapper .trevor-dashboard-footer .dashboard-panel-primary {
        grid-column: span 2/span 2
    }
}
.trevor-dashboard-footer .features-list {
    display: flex;
    flex-wrap: wrap
}
.trevor-dashboard-footer .features-list li {
    font-size: 16px;
    margin-bottom: 10px;
    padding-bottom: 20px;
    display: block;
    width: 100%
}
@media (min-width: 480px) {
    .trevor-dashboard-footer .features-list li {
        width: 50%
    }
}
.trevor-dashboard-footer .dashicons-plus, .trevor-dashboard-footer .dashicons-yes {
    color: green;
    margin-right: 6px
}
@media (min-width: 640px) {
    .trevor-dashboard-content .support-section-wrapper, .trevor-recommended-plugins {
        grid-template-columns: repeat(2, minmax(0, 1fr))
    }
    .trevor-dashboard-content table th:first-child, .trevor-dashboard-content tbody tr td:first-child {
        padding-left: 2rem
    }
}
.trevor-dashboard-content .welcome-section-intro {
    padding: 1.5rem;
}
.trevor-dashboard-content .welcome-section-image {
    align-self: flex-end;
    margin-top: 40px;
    display: flex;
}
@media (min-width: 992px) {
    .trevor-dashboard-content .welcome-section-intro {
        flex-basis: 65%
    }
    .trevor-dashboard-content .welcome-section-image {
        flex-basis: 35%;
    }
    .trevor-recommended-plugins {
        grid-template-columns: repeat(3, minmax(0, 1fr))
    }
}
.trevor-recommended-plugins .trevor-plugin-card {
    border: 1px solid #e1e1e1
}
.trevor-recommended-plugins .plugin-wrap {
    padding: 1.5rem;
    background-color: #fff
}
.trevor-recommended-plugins .plugin-action {
    padding: 0.5rem 1.5rem
}
.trevor-recommended-plugins .plugin-title {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;
    margin-bottom: 16px;
    font-size: 12px
}
.trevor-recommended-plugins .plugin-title img {
    max-width: 50px
}
.trevor-dashboard-wrapper .starter-template-action a, .trevor-recommended-plugins .plugin-action a {
    display: inline-flex;
    align-items: center;
    padding: 4px 16px;
    line-height: 1;
    border: none !important
}
.trevor-dashboard-wrapper .starter-template-action a:not(.installing) {
    padding: 12px 18px
}
.trevor-dashboard-wrapper .starter-template-action a.installing:before, .trevor-recommended-plugins .plugin-action a.installing:before {
    color: #fff !important
}
.trevor-recommended-plugins .plugin-action a.activate {
    background-color: #fff !important
}
.trevor-recommended-plugins .plugin-action a.activated {
    color: green !important;
    background-color: #fff !important
}
.trevor-recommended-plugins .plugin-action a.activated:focus {
    box-shadow: none
}
.trevor-dashboard-content .starter-templates-notice {
    max-width: 40rem;
    height: max-content;
    background-color: #fff;
    margin: auto;
    padding: 64px 2rem;
    text-align: center
}
.trevor-dashboard-content .starter-templates-notice h2 {
    font-size: 24px;
    font-weight: 600;
    margin: 0 0 2rem
}
.trevor-dashboard-content .starter-template-desc {
    margin: 0 0 2rem
}
.trevor-text-left {
    text-align: left
}
.trevor-text-center {
    text-align: center
}
.trevor-dashboard-content table {
    min-width: 100%;
    text-indent: 0;
    border-color: inherit;
    border-collapse: collapse
}
.trevor-dashboard-content table thead {
    position: sticky;
    top: 50px;
    z-index: 1;
    border-radius: 4px;
    border: 1px solid #C2CFF8;
    background-color: #F9FAFE;
}
.trevor-dashboard-content table .dashicons {
    text-align: center;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    font-size: 20px;
    line-height: 30px;
}
.trevor-dashboard-content table .dashicons-saved {
    text-indent: -2px;
    color: #3FB28F;
    background-color: rgba(63, 178, 143, 0.1)
}
.trevor-dashboard-content table .dashicons-no-alt {
    color: #E62424;
    background-color: rgba(230, 36, 36, 0.05);
}
.trevor-dashboard-content table th {
    padding: .875rem .75rem
}
.trevor-dashboard-content tbody tr {
    border-bottom: 1px solid #e2e8f0
}
.trevor-dashboard-content tbody td {
    font-size: 1rem;
    line-height: 1.5rem;
    color: #475569;
    padding: 1rem .75rem
}
.trevor-compare-panel .trevor-panel-header {
    flex-direction: column;
    gap: 0;
    text-align: center;
    padding: 30px;
}
.trevor-compare-panel .trevor-panel-header h2 {
    margin: 0;
}
.trevor-dashboard-content .free-vs-pro-footer {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px
}